.media {
  height: 100%;
  width: 100%;
  position: relative;
  /* padding-top: 90px; */
  background-image: url(img/textureBG2.jpg);
  background-size: 100%;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.mediaOverlayBottom {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -350px;
  left: 0;
  background-image: url(img/randomOverlay1.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* .mediaLanding {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 6em 0 0;
  background-image: url(img/VetHome1.jpg);
  background-size: cover;
  background-position: center center;
}
.mediaLanding img {
  width: 500px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 85px;
  transform: translateX(-50%);
} */
.mediaLanding1 {
  height: 110vh;
  width: 100%;
  position: relative;
  background-image: url(img/VetHome1.jpg);
  background-size: cover;
  background-position: center center;
}
.mediaLandingInner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
}
.mediaLandingLeft {
  width: 35%;
  height: 100%;
  padding-bottom: 3em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mediaLandingInner .mediaLandingLeft img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.mediaLandingBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mediaLandingBtns .promoBtn {
  margin: 10px 0;
}

.mediaLandingRight {
  width: 65%;
  height: 100%;
  margin-left: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoBox {
  height: 60%;
  width: 95%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border: none;
}

#wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#slider-area {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

#slider-area .owl-item div {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#slider-area .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  position: absolute;
}
.item img:first-of-type {
  top: 50%;
  left: 18%;
  transform: translate(-18%, -50%);
  height: 100px;
  width: auto;
}

.item img:last-of-type {
  top: 50%;
  right: 14%;
  transform: translate(-14%, -50%);
  height: 240px;
  width: auto;
}
/* 
#slider-area .item a {
  padding: 15px 60px;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  border-radius: 30px;
  box-shadow: -10px -5px 20px -5px #fefefe;
  transition: all 0.4s ease;
} */

#slider-area .item a:hover {
  transform: scale(0.98);
  background-color: #fff;
  color: #000;
  font-weight: 700;
  border: 1px solid #000;
  box-shadow: 0 0 30px -5px #fefefe;
}

#slider-area .owl-dots {
  width: 300px;
  height: 50px;
  z-index: 11;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.wrapBtn {
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  background: transparent;
  color: #fff;
  font-size: 1.4rem;
}

.wrapLight {
  height: 80vh;
  width: 90%;
  visibility: hidden;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 2.2rem;
  color: #fff;
}

.centerWrapLight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid #fff;
  background: #000;
}

.wrapLightImg {
  height: 150px;
  width: 150px;
  border-radius: 6px;
}

.wrapLightImg img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 15px -3px rgba(255, 255, 255, 0.6);
}

.centerWrapLight h4 {
  width: 100%;
  margin: 20px 0 10px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.wrapLightBtn {
  position: relative;
  padding: 15px 60px;
  margin: 10px 0;
  background-color: #fff;
  color: #000;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  border-radius: 30px;
  box-shadow: 0 0 20px -5px #eee;
}

.wrapLightBtn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 90%;
  border: 2px solid #000;
  border-radius: 30px;
}

.wrapLightBtn:hover {
  background-color: #000;
  color: #fff;
}
.wrapLightBtn:hover::before {
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
}

.outerOwl {
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.outerOwl::before {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  top: 20px;
  /* background: var(--cultured); */
  border-top: 4px solid var(--cultured);
  border-bottom: 4px solid var(--cultured);
}

.outerOwl::after {
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  /* background: var(--cultured); */
  border-top: 4px solid var(--cultured);
  border-bottom: 4px solid var(--cultured);
}

.OwlOverlayTop {
  position: absolute;
  top: -70%;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url(img/randomOverlay1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.owlOverlayBottom {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -68%;
  left: 0;
  z-index: -1;
  background-image: url(img/randomOverlay1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.outerOwl h1 {
  position: absolute;
  z-index: 2;
  top: -55px;
  right: 0;
  padding-right: 10px;
  color: #eee;
  font-size: 3.75rem;
  text-shadow: 5px 0 12px rgba(0, 0, 0, 0.5);
  box-shadow: inset -10px -10px 20px -5px rgba(0, 0, 0, 0.3);
}

.outerOwl h1::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
  border: 2px solid var(--bloodRed);
  background: #000;
}

.outerOwl h1::after {
  content: "";
  height: 78%;
  width: 2px;
  position: absolute;
  bottom: 5px;
  right: 0;
  border: 2px solid var(--bloodRed);
  background: #000;
}

.owlVidBox {
  position: absolute;
  bottom: -70%;
  left: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  transition: all 0.4s ease-in-out;
}

.owlVidBox h4 {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  text-shadow: 1px 1px 3px #eee;
}
.owlVidBox i {
  font-size: 3rem;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 1));
}
div a:hover .owlVidBox {
  bottom: 0;
}

.imageOuter {
  position: relative;
  overflow: hidden;
  padding: 100px 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageOuter h1 {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding-left: 10px;
  color: #eee;
  font-size: 60px;
  text-shadow: 5px 0 12px rgba(0, 0, 0, 0.5);
  box-shadow: inset -10px -10px 20px -5px rgba(0, 0, 0, 0.3);
}

.imageOuter h1::before {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0;
  border: 2px solid var(--bloodRed);
  background: #000;
}

.imageOuter h1::after {
  content: "";
  height: 88%;
  width: 2px;
  position: absolute;
  bottom: 5px;
  left: 0;
  border: 2px solid var(--bloodRed);
  background: #000;
}

.imageInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageInner img {
  height: 275px;
  width: auto;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px #777;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.imageInner img:hover {
  transform: scale(0.98);
}

.imageInner div {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .OwlOverlayTop {
    position: absolute;
    top: -58%;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url(img/randomOverlay1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .owlOverlayBottom {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -58%;
    left: 0;
    z-index: -1;
    background-image: url(img/randomOverlay1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
  }
  .mediaOverlayBottom {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -42%;
    left: 0;
    background-image: url(img/randomOverlay1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 768px) {
  .mediaOverlayBottom {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -42%;
    left: 0;
    background-image: url(img/randomOverlay1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .imageInner {
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  .mediaOverlayBottom {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -46%;
    left: 0;
    background-image: url(img/randomOverlay1.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 1200px) {
  .videoBox {
    height: 50%;
    width: 90%;
  }
  .mediaLandingInner .mediaLandingLeft img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 992px) {
  .mediaLandingInner {
    padding: 0;
  }
  .mediaLandingInner .mediaLandingLeft img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 860px) {
  .mediaLandingInner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .mediaLandingLeft {
    width: 100%;
    height: 35%;
    /* padding-bottom: 3em; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mediaLandingRight {
    width: 100%;
    height: 45%;
    margin-right: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mediaLandingInner .mediaLandingLeft img {
    width: auto;
    height: 60%;
    /* margin-bottom: 20px; */
  }
  .videoBox {
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
  }
  .mediaLandingBtns {
    flex-direction: row;
  }
  .mediaLandingBtns .promoBtn {
    margin: 0 5px;
  }
}
@media only screen and (max-width: 768px) {
  .mediaLanding1 {
    height: 100vh;
  }
  .imageInner img {
    height: 200px;
    margin: 10px;
    box-shadow: 0 0 10px #777;
  }
}
