@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

main {
  min-height: 100vh;
  min-width: 1024px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("img/vetStreet.jpg");
  background-size: cover;
  background-position: center center;
  /* clip-path: circle(200vh at 50% -110%); */
  overflow: hidden;
}

main::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 -20px 70px -20px var(--richBlack);
}

.circleBorder1 {
  position: absolute;
  top: -286%;
  left: -54.2%;
  display: none; /* Needs work to be responsive */
  z-index: 4;
  height: 200vw;
  width: 206vw;
  border-radius: 50%;
  background: transparent;
  border: 4px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 350px var(--cultured);
}

/* Rectangle needs responsive font size(clamp?) */
main .rectangle {
  /* width: 350px; */
  padding: 2em 2.5em;
  position: relative;
  z-index: 4;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      transparent
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      transparent
    );
  box-shadow: inset 0 0 100px -20px rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .rectangle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 0 80px -10px #eee;
  filter: blur(8px);
}

main .rectangle h2 {
  width: 100%;
  padding: 0 50px;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  word-spacing: 1rem;
  letter-spacing: 0.4rem;
  border-radius: 9px;
  color: rgba(245, 243, 244, 1);
  margin: 0;
  position: relative;
  margin-bottom: 3em;
  overflow-x: hidden;
}

@keyframes lineThrough {
  0% {
    right: 150%;
    box-shadow: none;
  }
  50% {
    box-shadow: none;
  }
  90% {
    box-shadow: 0 -5px 10px -1px rgba(186, 24, 27, 0.8);
  }
  100% {
    right: 3.5px;
    box-shadow: 0 -5px 15px -1px rgba(186, 24, 27, 1);
  }
}

main .rectangle h2 span {
  font-weight: 700;
  font-size: 2.5rem;
  color: rgba(164, 22, 26, 1);
  filter: drop-shadow(-3px -1px 3px rgba(245, 243, 244, 0.6));
  text-shadow: -3px -1px 4px #eee;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}

object {
  margin: 0;
  filter: drop-shadow(0 5px 30px var(--carnelianRedRGB));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutSocial {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* .aboutSocial::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 3.5px;
  height: 5px;
  width: 98%;
  border-radius: 30%;
  background: linear-gradient(
    to top,
    rgba(186, 24, 27, 1) 30%,
    rgba(186, 24, 27, 0.75),
    rgba(186, 24, 27, 0.3),
    rgba(186, 24, 27, 0.1),
    transparent
  );
  box-shadow: 0 5px 25px -1px rgba(186, 24, 27, 1);
  animation: lineAbove 3.75s backwards;
  transition: all 0.3s ease;
}

@keyframes lineAbove {
  0% {
    left: 150%;
  }
  50% {
    box-shadow: none;
  }
  90% {
    box-shadow: none;
  }
  100% {
    left: 3.5px;
    box-shadow: 0 5px 25px -1px rgba(186, 24, 27, 1);
  }
} */

.aboutSocial a {
  color: rgba(245, 243, 244, 1);
  font-size: 32px;
  filter: drop-shadow(0 0 8px rgba(211, 211, 211, 0.75));
  transition: all 0.3s ease;
}

.aboutSocial a:hover {
  filter: drop-shadow(0 0 10px #fff);
  color: var(--carnelianRed);
}

.aboutSocial a:first-of-type:hover {
  color: #3b5998;
}

.aboutSocial a:last-of-type:hover {
  color: #fccc63;
}

.toAbout {
  position: relative;
  margin-top: 100px;
  padding: 0 30px 3px;
  z-index: 4;
  text-align: center;
  color: var(--culturedRGB);
  border-radius: 30px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.toAbout:hover {
  transform: scale(1.025);
}

/* .toAbout::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  filter: blur(4px);
} */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

.aboutArrows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toAbout i {
  position: relative;
  z-index: 6;
  display: block;
  font-size: 28px;
  margin: -10px 1.5px 0;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  animation: arrowBlink 2s infinite;
}
.toAbout:hover i {
  animation: none;
}

@keyframes arrowBlink {
  0% {
    color: rgba(245, 243, 244, 0.9);
    top: 0;
  }
  12.5% {
    color: rgba(245, 243, 244, 0.9);
    top: 1px;
  }
  25% {
    top: 2px;
    color: rgba(245, 243, 244, 0.9);
  }
  37.5% {
    color: #000;
    top: 3px;
  }
  50% {
    color: rgba(245, 243, 244, 0.9);
    top: 4px;
  }
  62.5% {
    color: rgba(245, 243, 244, 0.9);
    top: 5px;
  }
  75% {
    color: rgba(245, 243, 244, 0.9);
    top: 6px;
  }
  87.5% {
    color: #000;
    filter: drop-shadow(0 0 8px #000);
    top: 7px;
  }
  100% {
    color: rgba(245, 243, 244, 0.9);
    top: 8px;
  }
}

.starBox {
  width: 60%;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 4;
  color: var(--cultured);
  font-size: 32px;
}

/* .starBox::after {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  height: 4px;
  width: 100%;
  background: radial-gradient(
    var(--carnelianRed) 5%,
    rgba(0, 0, 0, 0.3) 70%,
    transparent 25%
  );
} */

.starBox h1 {
  position: relative;
  filter: drop-shadow(0 0 8px rgba(245, 243, 244, 0.6));
}

.aboutText {
  margin-top: 4vh;
  padding: 12em 0 5.5em 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(img/aboutTextBG.jpg);
  background-size: cover;
  box-shadow: inset 0 0 200px -1px rgba(0, 0, 0, 0.9);
}

/* .aboutText::before {
  content: "";
  position: absolute;
  top: -33%;
  height: 550px;
  width: 100%;
  background: radial-gradient(
    rgba(164, 22, 26, 0.6),
    rgba(164, 22, 26, 0.3),
    transparent
  );
} */

.aboutText .aboutTxtObj1 {
  position: absolute;
  top: 34%;
}

.aboutTextOverlayTop {
  width: 100%;
  height: 275px;
  background-image: url(img/aboutOverlay1.png);
  /* background-color: var(--cultured); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -136px;
  /* z-index: 1; */
}
.aboutTextOverlayBottom {
  width: 100%;
  height: 275px;
  background-image: url(img/aboutOverlay1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -50px;
  transform: rotate(182deg);
}

.aboutText h2 {
  font-family: "Crimson Text", serif;
  margin: 0;
  font-size: 1.75rem;
  letter-spacing: 3px;
  position: relative;
  text-shadow: 0 0 2px #888;
}

.aboutText h2::before {
  content: "";
  position: absolute;
  left: -20px;
  top: -3px;
  height: 6px;
  width: 130%;
  border-radius: 30%;
  background: linear-gradient(
      to top,
      rgba(186, 24, 27, 1),
      rgba(186, 24, 27, 0.6),
      rgba(186, 24, 27, 1)
    ),
    radial-gradient(rgba(0, 0, 0, 1) 20%, rgba(186, 24, 27, 1));
  filter: drop-shadow(0 0 8px #111);
}

.aboutText h2::after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: -3px;
  height: 6px;
  width: 130%;
  border-radius: 30%;
  background: linear-gradient(
      to top,
      rgba(186, 24, 27, 1),
      rgba(186, 24, 27, 0.6),
      rgba(186, 24, 27, 1)
    ),
    radial-gradient(rgba(0, 0, 0, 1) 20%, rgba(186, 24, 27, 1));
  filter: drop-shadow(0 0 8px #111);
}

.aboutText p {
  padding: 2em 12em 0;
  margin-top: 40px;
  text-align: left;
  text-indent: 30px;
  font-family: sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  line-height: 1.5;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

.aboutText p:last-of-type {
  padding: 0 12em;
  margin-top: 20px;
  margin-bottom: 10em;
}

.aboutBlank {
  position: absolute;
  bottom: 20px;
  height: 75px;
  width: 100%;
  background: #000;
}

.instaWrap {
  max-height: 50vh;
  height: 500px;
  width: 100%;
  padding: 0 3em;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instaWrap h2 {
  color: #fff;
  text-align: center;
}
/* Full Width below 768 pixels */
@media only screen and (max-width: 768px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  [class*="grid_"] {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  main {
    min-width: 100%;
  }
  .aboutText {
    padding: 6em 0 1em 0;
  }
  .aboutText p {
    padding: 1em 4em 0;
    margin-top: 40px;
    text-align: left;
    text-indent: 30px;
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    line-height: 1.5;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
  }
  .aboutText p:last-of-type {
    padding: 0 4em 1.75em;
    margin-top: 20px;
    margin-bottom: 10em;
  }
}

@media only screen and (max-width: 768px) {
  main .rectangle {
    padding: 0.8em 1.1em;
  }
  .starBox {
    width: 100%;
    font-size: 28px;
  }
}
